<?js
    var data = obj;
?>
    <section>
        <article>
            <pre id="source-code" class="prettyprint source <?js= env.conf.templates.linenums ? 'linenums' : '' ?>"><code><?js= data.code ?></code></pre>
        </article>
    </section>
